<!doctype html>
<html>
  <head>
    <title>Jalkapallon MM 2018 Kisaveikkaus - {{ title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
    <header class="clearfix">
      <p class="page-title">MM 2018 -kisaveikkaus</p>
      <div class="header--login">
        {% if display_name %}
          Olet kirjautunut nimellä {{ display_name }}. <br>
          <a href="/logout">Kirjaudu ulos</a>
        {% else %}
          <a href="/login">Kirjaudu sisään</a>
        {% endif %}
      </div>
    </header>
    <nav>
      <a href="/" 
        {% if path == '/' %} class="active" {% endif %}>Etusivu</a>

      <a href="/scores" 
        {% if path == '/scores' %} class="active" {% endif %}>Pistetaulukko</a>
    </nav>
    <h1>{{ title }}</h1>
    
    {% block content %}{% endblock %}

  </body>
</html>