{% extends "layout.njk" %}

{% block content %}
<div class="lead">
    {# <p>Muutokset tallentuvat automaattisesti.</p> #}
</div>

<div class="block">
    <h2>Pelaajat</h2>
    <table class="table table--scores">
        <thead>
            <tr>
                <th>#</th>
                <th>Nimi</th>
                <th>Alkulohkojen voittajista</th>
                <th>Alkulohkojen tuloksista</th>
                <th>Jatkopelien joukkueista</th>
                <th>Maalikuninkaasta</th>
                <th>Yhteensä</th>
            </tr>
        </thead>
        <tbody id="table--scores">

        </tbody>
    </table>
</div>

<script src="js/getData.js"></script>
<script src="js/scores.js"></script>

{% endblock %}