body {
  padding: 1rem;
  margin: 0;
  font: 14px Palatino, Georgia, serif;
}

a {
  color: #00B7FF;
}

label {
  display: block;
  clear: both;
  margin: 1rem 0;
}
label input {
  float: right;
  width: 50%;
  font-size: 1rem;
  padding: 0.2rem;
  border: 1px solid #00B7FF;
}
label input:invalid {
  border: 1px solid rgb(118, 0, 7)
}

input[type="button"], input[type="submit"], button, .button {
  font-size: 0.7rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.1rem;
  background-color: #0f3f79;
  color: #FFF;
  border: 0;
  padding: 0.4rem 0.4rem;
  cursor: pointer;
}

header {
  background: url('/img/header_bg.png') repeat center center;
  color: #FFF;
  padding: 1rem;
}

footer {
  text-align: right;
  background-color: #0f3f79;
  color: #FFF;
  margin: 3rem 0 0;
  padding: 1rem;
}

.content:after {
  content: '';
  display: table;
  clear: both;
}

nav a {
  color: #FFF;
  background-color: #0f3f79;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  display: inline-block;
  margin: 0.5rem 0.5rem 0 0;
  padding: 0.4rem 1rem 0.3rem;
  text-decoration: none;
  text-transform: uppercase;
}
nav a:hover { background-color: #00B7FF; }
nav a.active { background-color: #00B7FF; }

.login-form {
  max-width: 40rem;
  margin-bottom: 4rem;
}
.login-form:after {
  content: '';
  display: table;
  clear: both;
}

.login-form input[type="submit"] {
  float: right;
}

.page-title {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: bold;
  margin-top: 0;
  color: #FFF;
  float: left;
}

.header--login {
  float: right;
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

@media screen and (min-width: 60rem) {
  .block--half-width {
    width: 49%;
    float: left;
  }
  .block--half-width__right {
    float: right;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}
th {
  background-color: #0f3f79;
  color: #FFF;
  padding: 0.5rem;
}
td {
  padding: 0.5rem;
  border: 1px solid #ddf;
  text-align: center;
}

.group-match--input {
  font-size: 2rem;
  width: 40px;
  text-align: center;
}

.match--team--container {
  display: flex;
}

.match--team--container__away {
  text-align: left;
}

.match--team--container__home {
  text-align: right;
  flex-direction: row-reverse;
}

.match--team {
  display: inline;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.match--team--container__home .match--team {
  margin-right: 1rem;
}

.match--team--container__away .match--team {
  margin-left: 1rem;
}

.match--team--flag {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: middle;
  background-position: 50% 50%;
  border-radius: 50%;
  background-size: cover;
  border: 1px solid #DDF;
  margin: 0 0.5rem;
}

.error {
  color: rgb(118, 0, 7);
  background-color: rgba(118, 0, 7, 0.2);
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}

.notification {
  color: rgb(19, 161, 36);
  background-color: rgba(19, 161, 36, 0.2);
  font-weight: bold;
  padding: 1rem;
  margin: 1rem;
}

.dropdown--teams {
  font-size: 1rem;
}

.goal-star {
  font-size: 1rem;
}

.loader {
  display: none;
  position: fixed;
  right: 0;
  bottom: 0;
}
.loader img {
  width: 50px;
}

.disabled {
  background-color: #eee;
}

.dim {
  color: #999;
}